@media only screen and (min-width: 600px) {
    .leaderboard-sidebar {
        background: white;
        margin-top: 75px;
        margin-left: 600px;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: fixed;
        border-bottom: 1px solid black;
        top: 0;
    }

    .game-section {
        margin-left: 150px;
        margin-top: 75px;
        height: 85.5%;
        max-width: 450px;
        border-right: 1px solid black;
    }

    .action-footer {
        max-width: 600px;
        height: 80px;
    }

    .options-topbar {
        max-height: 75px;
    }

    .leaderboard-button {
        display: none;
    }

    .leave-button {
        margin-top: 1.5%;
        width: 73%;
        height: 75%;
        font-size: 25px;
    }

    .admin-button {
        width: 20%;
        bottom: 0;
        right: 0;
        margin: 1%;
        z-index: 3;
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .game-section {
        margin-left: 25%;
        margin-top: 10%;
        height: 90%;
        max-width: 599px;
    }

    .leaderboard-sidebar {
        display: none;
    }

    .options-topbar {
        max-height: 50px;
    }

    .leave-button {
        width: 35%;
        font-size: 15px;
    }

    .admin-button {
        width: 49.0%;
        bottom: 0;
        margin-left: 25.5%;
        margin-bottom: 13%;
        font-size: 15px;
    }
}

.admin-button {
    position: absolute;
    background: blue;
    border: 1px solid blue;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.topbar-spacer {
    background: blue;
    width: 25%;
    display: inline-block;
}

.options-topbar {
    width: 100%;
    max-width: 600px;
    height: 10%;
    background: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    z-index: 1;
    position: fixed;
    display: inline-block;
}

.game-section {
    background: #35654d;
    position: fixed;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.footer {
    display: none;
}

.action-footer {
    background: #35654d;
    bottom: 0;
    width: 100%;
    z-index: 3;
    padding: 1%;
    position: fixed;
    border-top: 1px solid black;
}

.hit-button {
    width: 49.0%;
    height: 100%;
    background: #09e326;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

    .hit-button:hover {
        background: green;
        border: 1px solid green;
    }

.stand-button {
    width: 49.5%;
    height: 100%;
    background: #f20202;
    border: 1px solid #b80202;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

    .stand-button:hover {
        background: #b80202;
        border: 1px solid #b80202;
    }

.leave-button {
    background: #f20202;
    border: 1px solid #b80202;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

    .leave-button:hover {
        background: #b80202;
        border: 1px solid #b80202;
    }

.leaderboard-button {
    background: #0027a8;
    border: 1px solid #0027a8;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 37.5%;
    margin-top: 5%;
}

    .leaderboard-button:hover {
        background: #0027a8;
        border: 1px solid #0027a8;
    }

.player-sidebar {
    max-width: 150px;
    position: fixed;
    width: 25%;
    height: 100%;
    background: white;
    border-right: 1px solid black;
    z-index: 2;
}

.player-score-section {
    border-bottom: 1px solid black;
    height: 15%;
}

.player-score-section-title {
    height: 25%;
    font-size: 150%;
    font-weight: bold;
    padding-left: 7.5%
}

.player-score-section-cards {
    height: 60%;
    display: flex;
}

.card {
    border: 1px solid black;
    width: 40%;
    height: 85%;
    margin: 5%;
    border-radius: 5px;
}

.card-overlay {
    border: 1px solid black;
    max-width: 50px;
    width: 10%;
    height: 7.5%;
    border-radius: 5px;
    position: fixed;
    background: white;
}

.card-top {
    font-weight: bold;
    margin-left: 10%;
}

.card-bottom {
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5%;
    transform: rotate(180deg);
}

.player-score-section-score {
    height: 15%;
    font-size: 80%;
}





.dealer-section {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 3;
}

.dealer-card-section {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 3;
}

.rule-section {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 125%;
    flex: 1;
}

.player-section {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 3;
}

.player-card-section {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 3;
}

.lobby-screen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.big-card {
    height: 70%;
    width: 40%;
    margin: 5%;
    border: 0.5px solid black;
    border-radius: 5px;
    background: white;
    position: relative;
}

.big-card-overlay {
    height: 70%;
    width: 40%;
    margin: 5%;
    border: 0.5px solid black;
    border-radius: 5px;
    background: white;
    position: absolute
}

.big-card-top {
    padding-left: 5%;
    font-weight: bold;
    font-size: 150%;
}

.big-card-bottom {
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5%;
    transform: rotate(180deg);
}

.closed-card-middle {
    background: repeating-linear-gradient( 45deg, red, red 10px, darkred 10px, darkred 15px );
    width: 85%;
    height: 92.5%;
    margin: 7.5% 0 0 7.5%;
    border-radius: 5px;
    border: 0.5px solid black;
}

.dealer-card-score-section {
    position: relative;
    min-width: 15%;
    width: auto;
    height: 7.5%;
    background: gray;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.player-card-score-section {
    position: relative;
    min-width: 15%;
    width: auto;
    height: 7.5%;
    padding: 0 1% 0 1%;
    background: gray;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.red {
    color: red;
}

.black {
    color: black;
}

.leaderboard {
    width: 80%;
    height: 80%;
    background: white;
    position: absolute;
    display: none;
    z-index: 5;
    margin: 10%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5%;
}

span {
    width: 100%;
}

.close-leaderboard {
    display: flex;
    float: right;
    font-size: 200%;
    margin-bottom: 5%;
    font-weight: bold;
    cursor: pointer;
}

table {
    width: 100%;
    text-align: center;
}

table, th {
    border: 1px solid;
    padding: 2% 0 2% 0;
    text-align: center;
}

.sidebar-table {
    margin: 2.5%;
    width: 30%;
}

td {
    border: 1px solid;
    padding: 1% 0.5% 1% 0.5%;
}

.navbar {
    display: none;
}
