.footer {
    display: none;
}

.action-footer {
    background: #35654d;
    bottom: 0;
    width: 100%;
    height: 10%;
    z-index: 1;
    padding: 2.5%;
    position: fixed;
    border-top: 1px solid black;
}

.hit-button {
    width: 49.0%;
    height: 100%;
    background: #09e326;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

    .hit-button:hover {
        background: green;
        border: 1px solid green;
    }

.stand-button {
    width: 49.5%;
    height: 100%;
    background: #f20202;
    border: 1px solid #b80202;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

    .stand-button:hover {
        background: #b80202;
        border: 1px solid #b80202;
    }

.leave-button {
    width: 35%;
    height: 4.5%;
    background: #f20202;
    border: 1px solid #b80202;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    right: 0;
    position: fixed;
    margin: 0.75%;
}

    .leave-button:hover {
        background: #b80202;
        border: 1px solid #b80202;
    }

.leaderboard-button {
    width: 37.5%;
    height: 4.5%;
    background: #0027a8;
    border: 1px solid #0027a8;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    right: 0;
    position: fixed;
    margin: 0.75%;
    margin-right: 36.5%;
}

    .leaderboard-button:hover {
        background: #0027a8;
        border: 1px solid #0027a8;
    }

.player-sidebar {
    position: fixed;
    width: 25%;
    height: 100%;
    background: white;
    border-right: 1px solid black;
}

.player-score-section {
    border-bottom: 1px solid black;
    height: 15%;
}

.player-score-section-title {
    height: 25%;
    font-size: 150%;
    font-weight: bold;
    padding-left: 7.5%
}

.player-score-section-cards {
    height: 60%;
    display: flex;
}

.card {
    border: 1px solid black;
    width: 40%;
    height: 80%;
    margin: 5%;
    border-radius: 7.5%;
}

.card-overlay {
    border: 1px solid black;
    width: 10%;
    height: 7.5%;
    border-radius: 7.5%;
    position: fixed;
    background: white;
}

.card-top {
    font-weight: bold;
    margin-left: 10%;
}

.card-bottom {
    font-weight: bold;
    margin-top: 60%;
    margin-right: 10%;
    transform: rotate(180deg);
}

.player-score-section-score {
    height: 15%;
    font-size: 80%;
}

.options-topbar {
    position: fixed;
    width: 100%;
    height: 5%;
    background: white;
    border-bottom: 1px solid black;
}

.game-section {
    background: #35654d;
    position: fixed;
    width: 75%;
    height: 84.5%;
    margin-top: 11%;
    margin-left: 25.5%;
}

.lobby-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #35654d;
}
