.footer {
    display: none;
}

.action-footer {
    background: #35654d;
    bottom: 0;
    width: 100%;
    height: 10%;
    z-index: 1;
    padding: 2.5%;
    position: fixed;
    border-top: 1px solid black;
}

.hit-button {
    width: 49.0%;
    height: 100%;
    background: #09e326;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

    .hit-button:hover {
        background: green;
        border: 1px solid green;
    }

.stand-button {
    width: 49.5%;
    height: 100%;
    background: #f20202;
    border: 1px solid #b80202;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

    .stand-button:hover {
        background: #b80202;
        border: 1px solid #b80202;
    }

.leave-button {
    width: 35%;
    height: 4%;
    background: #f20202;
    border: 1px solid #b80202;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    right: 0;
    position: fixed;
    margin: 0.75%;
}

    .leave-button:hover {
        background: #b80202;
        border: 1px solid #b80202;
    }

.leaderboard-button {
    width: 37.5%;
    height: 4%;
    background: #0027a8;
    border: 1px solid #0027a8;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    right: 0;
    position: fixed;
    margin: 0.75%;
    margin-right: 36.5%;
}

    .leaderboard-button:hover {
        background: #0027a8;
        border: 1px solid #0027a8;
    }

.player-sidebar {
    position: fixed;
    width: 25%;
    height: 100%;
    background: white;
    border-right: 1px solid black;
}

.player-score-section {
    border-bottom: 1px solid black;
    height: 15%;
}

.player-score-section-title {
    height: 25%;
    font-size: 150%;
    font-weight: bold;
    padding-left: 7.5%
}

.player-score-section-cards {
    height: 60%;
    display: flex;
}

.card {
    border: 1px solid black;
    width: 40%;
    height: 85%;
    margin: 5%;
    border-radius: 7.5%;
}

.card-overlay {
    border: 1px solid black;
    width: 10%;
    height: 7.5%;
    border-radius: 7.5%;
    position: fixed;
    background: white;
}

.card-top {
    font-weight: bold;
    margin-left: 10%;
}

.card-bottom {
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5%;
    transform: rotate(180deg);
}

.player-score-section-score {
    height: 15%;
    font-size: 80%;
}

.options-topbar {
    position: fixed;
    width: 100%;
    height: 5%;
    background: white;
    border-bottom: 1px solid black;
}

.game-section {
    background: #35654d;
    position: fixed;
    width: 75%;
    height: 84.5%;
    margin-top: 11%;
    margin-left: 25.5%;
    display: flex;
    flex-direction: column;
}

.dealer-section {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 3;
}

.dealer-card-section {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 3;
}

.rule-section {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 125%;
    flex: 1;
}

.player-section {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 3;
}

.player-card-section {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 3;
}

.lobby-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #35654d;
}

.big-card {
    height: 70%;
    width: 40%;
    margin: 5%;
    border: 0.5px solid black;
    border-radius: 5%;
    background: white;
    position: relative
}

.big-card-overlay {
    height: 70%;
    width: 40%;
    margin: 5%;
    border: 0.5px solid black;
    border-radius: 5%;
    background: white;
    position: absolute
}

.big-card-top {
    padding-left: 5%;
    font-weight: bold;
    font-size: 150%;
}

.big-card-bottom {
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5%;
    transform: rotate(180deg);
}

.closed-card-middle {
    background: repeating-linear-gradient( 45deg, red, red 10px, darkred 10px, darkred 15px );
    width: 85%;
    height: 92.5%;
    margin: 7.5%;
    border-radius: 5%;
    border: 0.5px solid black;
}

.dealer-card-score-section {
    position: relative;
    min-width: 15%;
    width: auto;
    height: 7.5%;
    background: gray;
    color: white;
    font-weight: bold;
    border-radius: 15%;
    text-align: center;
    margin: 0 auto;
}

.player-card-score-section {
    position: relative;
    min-width: 15%;
    width: auto;
    height: 7.5%;
    padding: 0 1% 0 1%;
    background: gray;
    color: white;
    font-weight: bold;
    border-radius: 15%;
    text-align: center;
    margin: 0 auto;
}

.red {
    color: red;
}

.black {
    color: black;
}