.message-box {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    max-height: 10em;
    width: 100%;
    border: 1px solid lightgray;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 1em;
    border-radius: 0.5em 0 0 0.5em;
}

.message {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.admin-button {
    background: red;
    border: 1px solid #db0000;
    border-radius: 5px;
    color: white;
    width: 25%;
    padding: 1%;
    font-weight: bold;
    float: right;
}

.admin-button:hover {
    background: darkred;
    border: 1px solid #db0000;
}
.start-button {
    background: #09e326;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    width: 25%;
    margin-left: 1%;
    padding: 1%;
    font-weight: bold;
    float: right;
}

    .start-button:hover {
        background: green;
        border: 1px solid green;
    }