.password-box {
    border: 0.5px solid lightgray;
    border-radius: 5px;
    padding: 5%;
    width: 80%;
    margin: 10%;
    background: white;
    display: block;
    float: left
}

input {
    width: 100%;
    margin-bottom: 3%;
}

.passwordLabel {
    font-size: 0.75em;
}