@model User
<link rel="stylesheet" href="~/css/login.css" />
<div class="login-box">
    <form asp-controller="User" asp-action="UpdatePassword" method="post" asp-antiforgery="true">
        <label for="current-password">Current password</label>
        <input type="password" id="currentPassword" name="currentPassword" required/>
        <label for="new-password">New password</label>
        <label for="new-password" class="passwordLabel">Must contain: 1 Uppercase, 1 lowercase, 1 number and 1 special character and be at least 16 characters long</label>
        <input type="password" id="newPassword" name="newPassword" required pattern="(?=[A-Za-z0-9#$%^&amp;+!=]+$)^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[#$%^&amp;+!=])(?=.{16,}).*$" />
        <label for="new-password-confirmation">New password confirmation</label>
        <input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" required pattern="(?=[A-Za-z0-9#$%^&amp;+!=]+$)^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[#$%^&amp;+!=])(?=.{16,}).*$" />
        <input type="hidden" id="userId" value="@Model.ID" name="userId" required />
        <input type="hidden" id="userToken" value="@Model.PasswordToken" name="userToken" required />
        <input type="submit" class="change-password-button" value="Change Password"/>
    </form>
</div>