@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model string

<link rel="stylesheet" href="~/css/password-reset.css" asp-append-version="true" />

<div class="password-box">
    <form id="password-form" asp-controller="User" asp-action="ResetPassword" method="post" asp-antiforgery="true">
        <label for="password">Password*</label>
        <label for="password" class="passwordLabel">Must contain: 1 Uppercase, 1 lowercase, 1 number and 1 special character and be at least 16 characters long</label>
        <input name="password" id="password" type="password" required pattern="(?=[A-Za-z0-9#$%^&amp;+!=]+$)^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[#$%^&amp;+!=])(?=.{16,}).*$"/>

        <label for="password-confirmation">Password Confirmation*</label>
        <input name="passwordConfirmation" id="password-confirmation" type="password" minlength="8" required/>
        
        <input type="hidden" name="userToken" value="@ViewData["token"]" />

        <input type="submit" value="Set new password" />
    </form>
</div>