@using WebDev.Controllers
@model Developer

<link rel="stylesheet" href="~/css/contact.css" />

<div class="form-box">
    <form action="SendContact" method="post" id="contact-form" asp-antiforgery="true">
        <label for="subject">Subject</label>
        <input id="subject" type="text" name="subject" maxlength="200" required />

        <label for="email">Email</label>
        <input id="email" type="email" name="email" required />

        <label for="message">Message</label>
        <input id="message" type="text" name="message" maxlength="600" required />

        <div>
            <label id="captcha-label" for="captcha">Captcha: </label>
            <input id="captchaGivenSolution"
                   name="captchaGivenSolution"
                   type="number"
                   placeholder="@ViewData["captcha-num1"] * @ViewData["captcha-num2"]"
                   required />
            <input type="hidden" name="captchaSolution" value="@ViewData["captcha-solution"]" />
        </div>

        <input type="submit" />
    </form>
</div>

<script>
    $("#contact-form").submit(function (e) {
        e.preventDefault();

        let givenSolution = document.getElementById('captchaGivenSolution').value;

        if (givenSolution != @ViewData["captcha-solution"]) {
            alert('Captcha is incorrect!');
        } else {
            let url = '/api/SendContact?';
            let message, subject, email, token;

            token = $('input[name="__RequestVerificationToken"]').val();

            message = document.getElementById('message').value;
            subject = document.getElementById('subject').value;
            email = document.getElementById('email').value;

            let parameterFormat =
                'message=' + message
                + '&subject=' + subject
                + '&email=' + email;

            $.ajax({
                type: "POST",
                url: url + parameterFormat,
                data: {
                    __RequestVerificationToken: token
                },
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                async: true,
                success: function (msg) {
                    alert(msg);
                },
                error: function (error) {
                    alert(error.responseText);
                }
            })
        }
    });
</script>

<script src="~/js/contact.js"></script>
